<!DOCTYPE html>
<html>
  <head>
      <title>Rango</title>
  </head>
  <body>
    <h1>{{ category_name }}</h1>
    <a href="/rango/add_page/{{ category.slug }}/">add page</a>|
    <a href="/rango/">back</a>
    {% if category %}
      {% if pages %}
      <ul>
        {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
      {% else %}
        <storng>No pages found</strong>
      {% endif %}
    {% else %}
      The specified categery {{ category_name }} does not exist
    {% endif %}
  </body>
</html>
