{% extends 'base.html' %}
{% block title %}Rango{% endblock %}
{% block body_block %}
      {% if user.is_authenticated %}
      <a href="/rango/add_category/">add Category</a>|
      <a href="/rango/restricted/">Restricted Page</a>|
      <a href="/rango/logout/">Logout</a>|
      {%  else %}
      <a href="/rango/register/">Register Here</a>|
      <a href="/rango/login">Login</a>|
      {% endif %}

      <h1> Rango says ... hello world</h1>
        <h2>Top 5 most viewed category</h2>
  {% if categories %}
    <ul>
      {% for category in categories %}
      <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
      {% endfor %}
    </ul>
        {% if pages %}
        <h2>Top 5 most viewed pages</h2>
            <ul>
              {% for page in pages %}
              <li><a href="{{ page.url}}">{{ page.title }}</a></li>
              {% endfor %}
            </ul>
        {% else %}
            <strong> There are no page present</strong>
        {% endif %}
    {% else %}
      <strong>There are no category present.</strong>
    {% endif %}

    <a href="/rango/about/">About</a>
{% endblock %}
